/* Import de la famila de fuentes que se utilizara >> Montserrat*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');

/* Limpiar estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat',sans-serif;
}
/* Limpiar estilos generales */

/* Estilos de navbar principal */
nav {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    background: #151515;
    padding: 5px 40px;
}
/* Estilos de navbar principal */

/* Estilos de lista */
nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
/* Estilos de lista */

/* Estilos de item para lista*/
nav ul li {
    padding: 15px 0;
    cursor: pointer;
}
/* Estilos de item para lista*/

/* Estilos de la clase item*/
nav ul li.items {
    position: relative;
    width: auto;
    margin: 0 16px;
    font-weight: 500;
    text-align: center;
    order: 3;
}
/* Estilos de la clase item*/

/* Estilos para simular borde interior de la clase item*/
nav ul li.items:after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 5px;
    height: 2px;
    width: 100%;
    background:crimson;
    opacity: 0;
    transition: all 0.1s ease-in;
}
/* Estilos para simular borde interior de la clase item*/

/* Estilos de hover para simular borde interior de la clase item*/
nav ul li.items:hover:after {
    opacity: 1;
    bottom: 8px;
}
/* Estilos de hover para simular borde interior de la clase item*/

/* Estilos del logo o titulo*/
nav ul li.logo {
    flex: 1;
    color: white;
    font-size: 23px;
    font-weight: 900;
    cursor: default;
    user-select: none;
}
/* Estilos del logo o titulo*/

/* Estilos de los enlaces*/
nav ul li a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    transition: .4s;
}
/* Estilos de los enlaces*/

/* Estilos de hover de los enlaces*/
nav ul li:hover a {
    color: crimson;
}
/* Estilos de hover de los enlaces*/

/* Estilos de icono burger*/
nav ul li i {
    font-size: 23px;
}
/* Estilos de icono burger*/

/* Ocultar en modo escritorio el icono burger*/
nav ul li.btn {
    display: none;
}
/* Ocultar en modo escritorio el icono burger*/

/* Codigo para obtener icono burger*/
nav ul li.btn.hide i:before {
    content: '\f00d';
}
/* Codigo para obtener icono burger*/


/* Estilos predeterminados del main*/
main {
    margin-top: 70px;
    padding: 25px;
    background-color: aliceblue;
    width: 100%;
    height: 90vh;
}
/* Estilos predeterminados del main*/


/* Estilos del footer*/
footer {
    color: aliceblue;
    background-color: #292929;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
/* Estilos del footer*/


/* MEDIA QUERY PARA DISPOSITIVOS MOVILES*/
@media all and (max-width: 768px) {
    /* Configuracion de padding del navbar para moviles*/
    nav {
        padding: 5px 30px;
    }
    /* Configuracion de padding del navbar para moviles*/

    /* Configuracion de items, ocultandose para moviles*/
    nav ul li.items {
        width: 100%;
        display: none;
    }
    /* Configuracion de items, ocultandose para moviles*/

    /* Mostrara los items en el nav para moviles*/
    nav ul li.items.show {
        display: block;
    }
    /* Mostrara los items en el nav para moviles*/

    /* Mostrara el icono burger para moviles*/
    nav ul li.btn {
        display: block;
    }
    /* Mostrara el icono burger para moviles*/

    /* Estilo hover de listado para modo movil*/
    nav ul li.items:hover {
        border-radius: 5px;
    }
    /* Estilo hover de listado para modo movil*/

    /* Estilo linea de hover de listado para modo movil*/
    nav ul li.items:hover:after {
        opacity: 0;
    }
    /* Estilo linea de hover de listado para modo movil*/
}
/* MEDIA QUERY PARA DISPOSITIVOS MOVILES*/